$primary-main: #303a52;
$primary-dark: #202c49;
$primary-light: #656f86;

$secondary-main: #fc85ae;
$secondary-dark: #ff5892;
$secondary-light: #ffdde9;

$teriary-main: rgb(255, 252, 237);
$teriary-dark: rgb(255, 239, 228);
$teriary-light: #222;

$darl: rgb(41, 10, 3);

html,
body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
  letter-spacing: 0.3px;

  line-height: 1.2rem;
  background-color: #eee;

  // color: #eee;
  // margin: 0.2%;
}

a {
  text-decoration: none;
}
tside {
  color: $secondary-main !important;
  font-weight: 800;
}
.mark {
  // margin: 10px;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0px 0px 3px 2px #747de8;
  animation: glow 1.5s linear infinite alternate;
}

@keyframes glow {
  to {
    box-shadow: 0px 0px 1px 2px red;
  }
}
.header-container {
  display: flex;
  flex-direction: row;
  height: 6vh;
  background-color: $teriary-light;
  color: white;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
  .header-container-left {
    width: 95%;
    color: $teriary-dark;
    // color: white;
    font-size: 1.5rem;
    margin-left: 2rem;
  }
  .header-container-right {
    width: 5%;
    // align-self: flex-end;
  }
}
// tooltip.
.tooltip {
  position: relative;
  // z-index: 10;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;

  background-color: rgb(80, 71, 71);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: relative;
  // z-index: 5;
}

/* Show the tooltip text when you mouse over the tooltip container */
// .tooltip:hover .tooltiptext {
//   visibility: visible;
//   z-index: 10;
//   width: 250px;
// }
@media only screen and (min-width: 1490px) {
  html,
  body {
    overflow: hidden;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    z-index: 10;
    width: 150px;
  }

  .container {
    width: 100%;
    height: 95vh;
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
  }
  .left-20 {
    width: 20%;
    margin: 0 1rem;
  }
  .right-20 {
    width: 20%;
    margin: 0 1rem;
  }
  .mid-60 {
    width: 60%;
    margin: 0 0;
    display: flex;
    flex-direction: column;

    .upper-60 {
      height: 60%;
    }
    .lower-40 {
      // height: 40%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
    }
  }
  .scroller {
    overflow: auto;
    margin: 1rem 0;
    // height: 80vh;
    // scroll
  }
  // list
}
@media only screen and (min-width: 768px) and (max-width: 1490px) {
  .container {
    width: 100%;
    height: 95vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    z-index: 10;
    text-overflow: ellipsis;
    width: 120px;
  }
  .left-20 {
    order: 2;
    // width: 20%;
    height: 25vh;
    margin: 0;
    width: 100%;
  }
  .right-20 {
    order: 2;
    height: 20vh;
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
  }
  .mid-60 {
    order: 1;
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem 0;
    .upper-60 {
      height: 50vh;
      width: 100%;
      margin: auto;
    }
    .lower-40 {
      display: flex;
      flex-direction: row;
      margin: 1rem auto;
      width: 100%;
    }
  }
  .h-2 {
    margin-bottom: 5rem;
  }
  .h-1 {
    width: 50%;
  }
  .scroller {
    overflow: auto;
    margin: 1rem 0;
    height: 15vh !important;
    // height: 80vh;
    // scroll
  }
}

.graph {
  border: 1px solid #999;
  // border-radius: 5px;
  margin: 0 0.2rem;
}
// scroll bar
::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
  background-color: #a6a6a6;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #a6a6a6;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}
::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: white;
}
.total-result {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  background-color: $teriary-light;
  color: white;
  padding: 0.5rem;
}
.data-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  line-height: 1.5rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #777;
  // -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.34);
  // -moz-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.34);
  // box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.34);
}
.data-wrapper-right {
  padding-right: 0.5rem;
}
.data-wrapper-left {
  padding-left: 0.5rem;
}

// scroller

.graph {
  width: 30%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  html,
  body {
    font-size: 0.8rem;
  }
  .container {
    width: 100%;
    height: 95vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    z-index: 10;
    text-overflow: ellipsis;
    width: 120px;
  }
  .left-20 {
    order: 2;
    // width: 20%;
    height: 25vh;
    margin: 0;
    width: 100%;
  }
  .right-20 {
    order: 2;
    height: 25vh;
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
  }
  .mid-60 {
    order: 1;
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem 0;
    .upper-60 {
      height: 30vh;
      width: 100%;
      margin: auto;
    }
    .lower-40 {
      display: none;
      // flex-direction: column;
      // margin: 1rem auto;
      // width: 100%;
    }
  }
  .h-2 {
    margin-bottom: 5rem;
  }
  .h-1 {
    width: 50%;
  }
  .scroller {
    overflow: auto;
    margin: 1rem 0;
    height: 18vh !important;
    // height: 80vh;
    // scroll
  }
}
